{% load static %}

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
    <!-- =============== Google fonts =============== -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="{% static 'main/css/animate.min.css' %}" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
    <!-- =============== Owl Carousel Assets =============== -->
    <link href="{% static 'main/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'main/owl-carousel/owl.theme.css' %}" rel="stylesheet">
