{% load static %}
{% block price %}
	<!-- =============== container =============== -->
        <div class="container">
        <span class="angle2"></span>
        <span class="angle"></span>

         <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 wow zoomIn animated headding" data-wow-delay=".1s">
               <h2>Price <span>List</span></h2>
               <p>Display your mobile apps awesome features with icon lists and an image carousel of each page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
           </div>

          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInLeft animated" >
          <div class="price-wrapper ">
		        <h3 class="price-title">Students</h3>
		        <div class="price">
			        <div class="value-box">
				        <div class="value-box-content">
					        <span class="value">
						        <i></i><span class="number">FREE</span>
					        </span>
					        <span class="month invisible"></span>
				        </div>
			        </div>

			        <div class="content-box">			
                        <ul>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        </ul>
			        </div>
			        <div class="sign-box">
                     <a href="#"><span>Sign Up</span></a>			
                    </div>
		        </div>
	        </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 wow zoomIn animated">
          <div class="price-wrapper ">
		        <h3 class="price-title">Small</h3>
		        <div class="price">
			        <div class="value-box">
				        <div class="value-box-content">
					        <span class="value">
						        <i></i><span class="number"> $10 </span>
					        </span>
					        <span class="month">per month</span>
				        </div>
			        </div>

			        <div class="content-box">			
                        <ul>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        </ul>
			        </div>
			        <div class="sign-box">
                     <a href="#"><span>Sign Up</span></a>			
                    </div>
		        </div>
	        </div> 
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 wow zoomIn animated">
          <div class="price-wrapper ">
		        <h3 class="price-title">Standard</h3>
		        <div class="price standard">
			        <div class="value-box">
				        <div class="value-box-content">
					        <span class="value">
						       <span class="number">$50</span>
					        </span>
					        <span class="month">per month</span>
				        </div>
			        </div>

			        <div class="content-box">			
                        <ul>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        </ul>
			        </div>
			        <div class="sign-box">
                     <a href="#"><span>Sign Up</span></a>			
                    </div>
		        </div>
	        </div>
          </div>     
        </div>
        </div>    <!-- =============== container end =============== -->  
   
{% endblock %}